body {
  margin: 0;
  padding: 0;
  background-color: #555;
  text-shadow: 0px 0px 21px #1c1c1c;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 500px;
  margin: 15px;
  background-color: #737373;
  border-radius: 15px;
  border: 3px solid #bebebe;
}

.flex-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
}

.flex-me{
  display: inline-block;
  width: 225px;
}

h2, h3 {
  margin: 15px;
}

p {
  margin: 5px;
}
.members {
  overflow-y: scroll;
  height: 200px;
}

.members::-webkit-scrollbar { 
    display: none;
}
